.awesome-title {
    text-align: center;
  
    
}
.awesome-title__main {
    margin-bottom: 30px;
}

.awesome-title__main::after{

    content: '';
    display: block;
    height: 1px;
    width: 64px;
    margin: 34px auto 0;
    background-color: crimson;

}

.awesome-description {
}


