.awesome-wrapper {
    margin: 65px -15px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.awesome-block{
   width: 350px;
   margin: 0px 15px;
   border-radius: 12px;

}

.awesome-block:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.6s ease;
    
}


.awesome-item__circle {
    display: flex;
    width: 70px;
    height: 70px;
    border: 1px solid crimson;
    border-radius: 50%;
    margin: auto;
    
}


.awesome-icon{
    margin: auto;
    font-size: 40px;
    color: crimson;
    transition: all 0.5s ease;
}

.awesome-icon:hover{
    transform: rotate(360deg);

}

.awesome-item__text {
    margin-top: 30px;
    text-align: center;
}
.awesome-item__title {
  
}
.awesome-item__subtitle {
    margin-top: 15px;
}