.contactus-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
     flex-direction: row;
    margin: 65px -15px 0px;
  
    
}
.form-block__left {
    width: 478px;

    
}


.contactus-input{
    border: 0;
    width: 478px;
}


.form-item__left {
    margin-top: 30px;
    border-bottom: 1px solid  darkgray;
}

.form-right {
    
}
textarea{
    border: 0;
    width: 478px;
    height: 216px;
    border-bottom: 1px solid darkgray;
    resize: none;

}

.contact-button {
    display: flex;
    justify-content: center;
    margin-top:68px;
    
   
}
.button-center {
    width: 166px;
    padding: 24px 24px;
    border: 0;
    background-color:  crimson;
    color: rgba(255, 255, 255, 1);
    border-radius: 24px;
}
