.customers-title {
    text-align: center;
}
.customer-title__main {
}

.customer-title__main::after{
    content: '';
    display: block;
    height: 1px;
    width: 64px;
    margin: 34px auto 0;
    background-color: crimson;
}
.customers-description {
    margin-top: 30px;
}