

.item-title {
    background-color: #333333;
    color: #FFFFFF;
}
.item-list {
}
.price {
    background-color: #333333;
    color: #FFFFFF;
}

.free {
    background-color: #333333;
    color:#FFFFFF80 ;
}
.space {
    background-color:#FFFFFF ;
    color: #86878B;
}