.footer {
    background-color: #000000;
}
.container {
}
.footer-wrapper {
}
.footer-social {
    padding: 20px ;
}
.footer-list {
    display: flex;
    justify-content: center;
    
   
    
}
.footer-item {
    margin: 0px 15px;
  
}
.footer-copyright {
    padding-bottom: 15px;
}
.copyright-text {
    text-align: center;
    color: white;
}