
.social-link{
   font-size: 50px;
   color: darkgrey;

}

.fab {  
    transition: all 0.4s ease;
    
   
    
}
.fa-snapchat-ghost:hover {
    color: rgb(	255,250,55);
    transform: rotate(360deg);
    
  
}
.fa-instagram:hover {
    color: rgb(193,53,132);
    transform: rotate(360deg);
  
}
.fa-facebook-square:hover {
    color: rgb(59,89,152);
    transform: rotate(360deg);
}
.fa-vk:hover {
    color: rgb(	69 102 142);
    transform: rotate(360deg);
}
.fa-angellist:hover {
    color:rgb(26,183,234);
    transform: rotate(360deg);
}
.fa-youtube:hover {
    color:rgb(	205,32,31);
    transform: rotate(360deg);
}
.fa-twitter:hover {
    color: rgb(	85 172 238);
    transform: rotate(360deg);
}

.footer-link{
    color: darkgrey;
    font-size: 35px;


}
